<a href="https://colab.research.google.com/github/aquamarina1977/PaymentDelayPrediction/blob/main/PaymentDelay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Этот проект предсказывает вероятность, с какой предсказания, сделанные на основе двух моделей sklearn, относительно того, что выплаты по кредиту, взятому в банке на Тайване, будут производиться вовремя, окажутся верными. Для этого предсказания использован датасет с данными 2005 года одного из канадских банков. Датасет взят с сайта Kaggle: https://www.kaggle.com/datasets/uciml/default-of-credit-card-clients-dataset В проекте приводятся предсказания, созданные благодаря шаблону метода опорных векторов с одной стороны, и шаблону RandomForestClassifier, который, как принято считать, даёт более точные прогнозы, с другой стороны.

In [2]:
#Импортируем библиотеки pandas и numpy
import pandas as pd
import numpy as np

In [4]:
#Считываем данные
data = pd.read_csv('/content/default of credit card clients.csv', names=['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month'], skiprows=[0, 1])

In [5]:
#Избавляемся от ненужных колонок, приводим датасет к нужному нам виду
data.drop(['BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6'], axis=1, inplace=True)

In [6]:
data['MONEY_RET'] = data[['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']].sum(axis=1)

In [7]:
data.drop(columns=['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'], inplace=True)

In [8]:
data.drop(columns=['default payment next month', 'MONEY_RET'], inplace=True)

In [9]:
data['PAY_IN_TIME'] = data[['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']].sum(axis=1)
data.drop(columns=['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6'], inplace=True)

In [10]:
#Делаем копию этого датафрейма, чтобы на основе имеющегося датасета произвести кластеризацию, а его копию использовать для построения моделей
data_copy = data.copy(deep=True)

In [11]:
for i, row in data_copy.iterrows():
    for element in row:
        if element == 'nan':
            element = 0

In [12]:
for i, row in data_copy.iterrows():
  if row[1] > 100000:
      row[1] = 1
  else:
      row[1] = 2

In [13]:
for i, row in data_copy.iterrows():
    if row[5] < 35:
        row[5] = 1
    elif row[5] < 50:
        row[5] = 2
    else:
        row[5] = 3

In [14]:
for i, row in data_copy.iterrows():
    if row[6] > 0:
        row[6] = 0
    else:
        row[6] = 1

In [15]:
data_copy

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_IN_TIME
0          1          2    2          2         1    1            1
1          2          1    2          2         2    1            0
2          3          2    2          2         2    1            1
3          4          2    2          2         1    2            1
4          5          2    1          2         1    3            1
...      ...        ...  ...        ...       ...  ...          ...
29995  29996          1    1          3         1    2            1
29996  29997          1    1          3         2    2            1
29997  29998          2    1          2         2    2            0
29998  29999          2    1          3         1    2            1
29999  30000          2    1          2         1    2            1

[30000 rows x 7 columns]

In [16]:
#Определяем целевую колонку
columns_target = ['PAY_IN_TIME']

In [17]:
#Определяем колонки, влияющие на целевую колонку
columns_train = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE']

In [18]:
#Создаём переменные, которые будут хранить данные, хранящиеся в этих колонках
X = data_copy[columns_train]

In [19]:
Y = data_copy[columns_target]

In [20]:
#Разбиваем выборку на четыре модуля, импортируя для этого соответствующий метод
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33,
random_state=42)

In [22]:
#Импортируем шаблон метода опорных векторов и называем нашу модель predmodel
from sklearn import svm

In [46]:
predmodel = svm.LinearSVC()

In [47]:
predmodel.fit(X_train,Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [48]:
predmodel.predict(X_test[0:30])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [49]:
#Определяем вероятность, с которой прогноз о том, что выплаты по займу будут произвоидиться вовремя, окажется верным
predmodel.score(X_test,Y_test)

0.7614141414141414

In [50]:
#Импортируем шаблон RandomForestClassifier и создаём соответствующую модель
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [40]:
lr = LogisticRegression(max_iter=1000)
rfc = RandomForestClassifier(max_depth=10, min_samples_leaf=10, min_samples_split=100)

In [41]:
X = X_train.drop(columns='MARRIAGE')
y = X_train['MARRIAGE']
X.head()

       LIMIT_BAL  SEX  EDUCATION  AGE
16831          1    1          3    2
4222           2    1          1    2
8736           2    2          2    2
27880          1    2          3    1
29290          2    1          3    1

In [52]:
#Определяем вероятность, с которой прогноз о том, что выплаты по займу будут произвоидиться вовремя, окажется верным
lr.fit(X.drop(columns=['LIMIT_BAL', 'SEX', 'EDUCATION']), y)
cv_means = cross_val_score(lr, X.drop(columns=['LIMIT_BAL', 'SEX', 'EDUCATION']), y)
pred_true = np.mean(cv_means)
pred_true

0.7224378109452736

In [72]:
#Получим метрики, описывающие данный датасет, для этого импортируем соответствующие модули
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
kmeans = KMeans(n_clusters=3, random_state=0).fit(data)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
scaledDS = sc.fit_transform(data)
cluster_labels = kmeans.fit_predict(scaledDS)

In [73]:
agg = AgglomerativeClustering(n_clusters=3)
assignment_labels = agg.fit_predict(scaledDS)

In [74]:
#Импортируем модуль для получения метрик sklearn
import sklearn.metrics.cluster as metrics

In [75]:
#Получим индекс Калински-Харабаша, индекс валидности кластера
sc = metrics.calinski_harabasz_score(scaledDS, cluster_labels)
sc

5395.9157196345095

In [ ]:
#Как мы видем, индекс внутренней валидации кластера очень высок
#Это значит, что алгоритмы кластеризации, если их использовать для данного датасета, будут весьма эффективными
#Определим скорректированный индекс Ранда
#В его основе лежит идея сравнения двух результатов классификации
#Значения этого индекса находится в диапазоне от 0 до 1

In [76]:
sc_as = metrics.adjusted_rand_score(assignment_labels, cluster_labels)
sc_as

0.26661281384022656

In [65]:
#Чем ближе значение ARI к 1.0, тем совершеннее получившиеся кластеры
#В нашем случае маркировка кластеров не идеальна
#Следующая далее метрика: количественная оценка эффекта кластеризации
#Её метод является симметричным : его можно использовать для оценки соответствия двух независимых присвоений одному и тому же набору данных

In [77]:
hom_sc = metrics.homogeneity_completeness_v_measure(cluster_labels, assignment_labels)
hom_sc

(0.31058928449809436, 0.31181022572119055, 0.31119855756895853)

In [ ]:
#Далее, метрика оценки однородности. Полностью однородная кластеризация - это та, 
#в которой каждый кластер содержит информацию, которая соответствует аналогичной метке класса. 
#Однородность отражает близость алгоритма кластеризации к этому (homogeneity_score) совершенству
#Эта метрика не зависит от прямых значений меток. 
#Перестановка значений меток кластера никоим образом не изменит значение оценки.
#Значение метрики находится в диапазоне от 0.0 до 1.0, что обозначает идеальную маркировку

In [78]:
ratio = metrics.homogeneity_score(cluster_labels, assignment_labels)
ratio

0.31058928449809436

In [ ]:
#Индекс силуэта - индекс валидности кластера
#Значение силуэта является мерой того, насколько объект похож на свой собственный кластер (сплоченность) 
#по сравнению с другими кластерами (разделение)
#Значение силуэта находится в диапазоне от -1 до 1
#Если значение силуэта близко к 1, образец хорошо кластеризован и уже назначен очень подходящему кластеру.
#Если значение силуэта равно 0, выборка может быть назначена другому кластеру, ближайшему к нему, 
#и выборка находится одинаково далеко от обоих кластеров. Это означает, что он указывает на перекрывающиеся кластеры
#Если значение силуэта близко к -1, образец классифицируется неправильно и просто помещается где-то между кластерами.

In [79]:
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Generating the sample data from make_blobs

X, Y = make_blobs()

no_of_clusters = [2, 3, 4, 5, 6]

for n_clusters in no_of_clusters:

	cluster = KMeans(n_clusters = n_clusters)
	cluster_labels = cluster.fit_predict(X)

	# The silhouette_score gives the
	# average value for all the samples.
	silhouette_avg = silhouette_score(X, cluster_labels)

	print("Для количества кластеров =", n_clusters,
		" среднее значение silhouette_score равно :", silhouette_avg)

Для количества кластеров = 2  среднее значение silhouette_score равно : 0.7345704918018575
Для количества кластеров = 3  среднее значение silhouette_score равно : 0.8013026260919262
Для количества кластеров = 4  среднее значение silhouette_score равно : 0.6592674115226067
Для количества кластеров = 5  среднее значение silhouette_score равно : 0.4690339633822077
Для количества кластеров = 6  среднее значение silhouette_score равно : 0.33808570164092816

In [81]:
#Приведённые метрики описывают исходный датафрейм. Если мы датафрейм data заменим на датафрейм
#data_copy, то мы увидим улучшенные метрики для анализа нашего датасета